/.idea/
.history/

.venv/
.cursor/rules/rules-for-passwords.mdc

.DS_Store


# Kubernetes runtime files
*-pvc.json

# Secrets
**/secrets.yml
k8s/secrets/generated/
k8s/secrets/*.env
.env
*.env

**/*.egg-info
**/__pycache__
**/dist

**/server.log