# k8s/promtail/daemonset.yaml
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: promtail
  namespace: observability
spec:
  selector:
    matchLabels:
      name: promtail
  template:
    metadata:
      labels:
        name: promtail
    spec:
      serviceAccountName: promtail    # puedes reutilizar el SA/roles que ya creaste
      containers:
        - name: promtail
          image: grafana/promtail:2.9.8
          args: ["-config.file=/etc/promtail/promtail.yaml"]
          ports:
            - containerPort: 3101
              name: http-metrics
          volumeMounts:
            - name: config
              mountPath: /etc/promtail
            - name: positions
              mountPath: /run/promtail
            # logs del host (ambos directorios son necesarios)
            - name: varlog
              mountPath: /var/log
              readOnly: true
            - name: podlogs
              mountPath: /var/log/pods
              readOnly: true
            - name: docker
              mountPath: /var/lib/docker/containers
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: promtail-config
            items:
              - key: promtail.yaml
                path: promtail.yaml
        - name: positions
          emptyDir: {}
        - name: varlog
          hostPath:
            path: /var/log
        - name: podlogs
          hostPath:
            path: /var/log/pods
        - name: docker
          hostPath:
            path: /var/lib/docker/containers
