apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: shared
spec:
  type: NodePort
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
      nodePort: 32080
      protocol: TCP
      name: postgres 