apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: shared
  labels:
    app: redis
spec:
  type: NodePort
  ports:
  - name: tcp-redis
    port: 6379
    targetPort: 6379
    nodePort: 32081
    protocol: TCP
  selector:
    app: redis 