apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  application.instanceLabelKey: argocd.argoproj.io/instance
  server.enable.gzip: "true"
  server.enable.proxy: "true"
  server.cookie.samesite: "none"
  server.cookie.secure: "false"
  server.cookie.domain: "internal-vpn-address"
  server.cookie.path: "/argocd"
  server.rootpath: "/argocd"
  server.basehref: "/argocd/"
  redis.server: redis.shared:6379
  redis.password: v5V3PLLf1CufunXMtrbR3H8ypTSpCnCj
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-rbac-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-rbac-cm
    app.kubernetes.io/part-of: argocd
data:
  policy.default: role:readonly
  policy.csv: |
    p, role:org-admin, applications, *, */*, allow
    p, role:org-admin, clusters, get, *, allow
    p, role:org-admin, clusters, create, *, allow
    p, role:org-admin, clusters, update, *, allow
    p, role:org-admin, clusters, delete, *, allow
    p, role:org-admin, repositories, get, *, allow
    p, role:org-admin, repositories, create, *, allow
    p, role:org-admin, repositories, update, *, allow
    p, role:org-admin, repositories, delete, *, allow
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-ssh-known-hosts-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-ssh-known-hosts-cm
    app.kubernetes.io/part-of: argocd
data:
  ssh_known_hosts: |
    github.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOMqqnkVzrm0SdG6UOoqKLsabgH5C9okWi0dh2l9GKJl
    github.com ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEmKSENjQEzekOmxmWxvSJeQ4SspbHNPbENfDAuGgI0tMaM3ThR6tE3ibDmQqwJSSYxqX8JxSqgh8si4jzJzZ6Bc=
    github.com ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCj7ndNxQowgcQnjshcLrzhPEj9Ypw5fz1yWjjsKbFTsJ0ZGmHPO1aCqGZD6Vr6zOYV3bMqU4Uh0cB4K3FK0KxT8UyNZsNfruIl4PpiGFFBGqZlo1z2dE85vjP+cZrh3RwqCb1lFxa8y60LxVQaw6NcM0dTVjAhMTVkZc/OaB6bqsZcMVy2NI3xRd0YxLhLtmOlFcNswBMwkpggmbyIEEbK6gJL36N6d1W6RwAHb8d45FwYWl6QTcW3cXw6b5UGGGXRgPiz0Wvt2eDBimTerYTQPvnPZgdfrZIGg15k6QTk/4h1RmD9uGDHGBfYwj1U6QwSbxBlOXmyuAkqVUaNlQv8gFmJQSJHmleESZaBzdZB66wBCwL0chXaAEu/JkrwmrlyylsZ6afWSj8TQRK+6g9HbkX5QiS0seOm5FWpzn6wYR8dqw9TDqDZuCKZ9txh9nlIe6gMF0vrhjPASRABaHu85MhZXIsUhxORrNu6otZ7CU5loIy3Vj3MVyH4TlT50u0eGmAkSnvi6SAZ/mA7n2tsmCdW8QLeAXMvG6I7bqBEkJfcgo8R8aKWf1ZxNxZ7W0ucCL7ltMd/kSyCQT3Hk3gw==
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-tls-certs-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-tls-certs-cm
    app.kubernetes.io/part-of: argocd 