apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: applications.argoproj.io
spec:
  group: argoproj.io
  names:
    kind: Application
    listKind: ApplicationList
    plural: applications
    shortNames:
    - app
    - apps
    singular: application
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              source:
                type: object
                properties:
                  repoURL:
                    type: string
                  path:
                    type: string
                  targetRevision:
                    type: string
              destination:
                type: object
                properties:
                  server:
                    type: string
                  namespace:
                    type: string
                  name:
                    type: string
              project:
                type: string
              syncPolicy:
                type: object
                properties:
                  automated:
                    type: object
                    properties:
                      prune:
                        type: boolean
                      selfHeal:
                        type: boolean
          status:
            type: object
            properties:
              syncStatus:
                type: string
              healthStatus:
                type: string
    served: true
    storage: true
    subresources:
      status: {}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: applicationsets.argoproj.io
spec:
  group: argoproj.io
  names:
    kind: ApplicationSet
    listKind: ApplicationSetList
    plural: applicationsets
    shortNames:
    - appset
    - appsets
    singular: applicationset
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              generators:
                type: array
                items:
                  type: object
                  properties:
                    list:
                      type: array
                      items:
                        type: object
                        properties:
                          cluster:
                            type: string
                          url:
                            type: string
                    clusters:
                      type: object
                      properties:
                        selector:
                          type: object
                          properties:
                            matchLabels:
                              type: object
                              additionalProperties:
                                type: string
                    git:
                      type: object
                      properties:
                        repoURL:
                          type: string
                        revision:
                          type: string
                        directories:
                          type: array
                          items:
                            type: object
                            properties:
                              path:
                                type: string
              template:
                type: object
                properties:
                  metadata:
                    type: object
                    properties:
                      name:
                        type: string
                      namespace:
                        type: string
                  spec:
                    type: object
                    properties:
                      source:
                        type: object
                        properties:
                          repoURL:
                            type: string
                          path:
                            type: string
                          targetRevision:
                            type: string
                      destination:
                        type: object
                        properties:
                          server:
                            type: string
                          namespace:
                            type: string
                          name:
                            type: string
                      project:
                        type: string
                      syncPolicy:
                        type: object
                        properties:
                          automated:
                            type: object
                            properties:
                              prune:
                                type: boolean
                              selfHeal:
                                type: boolean
          status:
            type: object
            properties:
              conditions:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    status:
                      type: string
                    message:
                      type: string
                    lastTransitionTime:
                      type: string
                      format: date-time
    served: true
    storage: true
    subresources:
      status: {} 