apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  application.instanceLabelKey: argocd.argoproj.io/instance
  server.enable.gzip: "true"
  server.enable.proxy: "true"
  server.cookie.samesite: "none"
  server.cookie.secure: "false"
  server.cookie.domain: "internal-vpn-address"
  server.cookie.path: "/argocd"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-rbac-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-rbac-cm
    app.kubernetes.io/part-of: argocd
data:
  policy.default: role:readonly
  policy.csv: |
    p, role:org-admin, applications, *, */*, allow
    p, role:org-admin, clusters, get, *, allow
    p, role:org-admin, clusters, create, *, allow
    p, role:org-admin, clusters, update, *, allow
    p, role:org-admin, clusters, delete, *, allow
    p, role:org-admin, repositories, get, *, allow
    p, role:org-admin, repositories, create, *, allow
    p, role:org-admin, repositories, update, *, allow
    p, role:org-admin, repositories, delete, *, allow
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-ssh-known-hosts-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-ssh-known-hosts-cm
    app.kubernetes.io/part-of: argocd
data:
  ssh_known_hosts: |
    github.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOMqqnkVzrm0SdG6UOoqKLsabgH5C9okWi0dh2l9GKJl
    github.com ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEmKSENjQEzekOmxmWxvSJeQ4SspbHNPbENfDAuGgI0tMaM3ThR6tE3ibDmQqwJSSYxqX8JxSqgh8si4jzJzZ6Bc=
    github.com ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCj7ndNxQowgcQnjshcLrzhPEj9Ypw5fz1yWjjsKbFTsJ0ZGmHPO1aCqGZD6Vr6zOYV3bMqU4Uh0cB4K3FK0KxT8UyNZsNfruIl4PpiGFFBGqZlo1z2dE85vjP+cZrh3RwqCb1lFxa8y60LxVQaw6NcM0dTVjAhMTVkZc/OaB6bqsZcMVy2NI3xRd0YxLhLtmOlFcNswBMwkpggmbyIEEbK6gJL36N6d1W6RwAHb8d45FwYWl6QTcW3cXw6b5UGGGXRgPiz0Wvt2eDBimTerYTQPvnPZgdfrZIGg15k6QTk/4h1RmD9uGDHGBfYwj1U6QwSbxBlOXmyuAkqVUaNlQv8gFmJQSJHmleESZaBzdZB66wBCwL0chXaAEu/JkrwmrlyylsZ6afWSj8TQRK+6g9HbkX5QiS0seOm5FWpzn6wYR8dqw9TDqDZuCKZ9txh9nlIe6gMF0vrhjPASRABaHu85MhZXIsUhxORrNu6otZ7CU5loIy3Vj3MVyH4TlT50u0eGmAkSnvi6SAZ/mA7n2tsmCdW8QLeAXMvG6I7bqBEkJfcgo8R8aKWf1ZxNxZ7W0ucCL7ltMd/kSyCQT3Hk3gw==
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-tls-certs-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-tls-certs-cm
    app.kubernetes.io/part-of: argocd
---
apiVersion: v1
kind: Secret
metadata:
  name: argocd-secret
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-secret
    app.kubernetes.io/part-of: argocd
type: Opaque
data:
  server.key: LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFb3dJQkFBS0NBUUVBc2pZa0RuTlc0M09CZDdVeHBNL2NvSFU1dHRSRVRNb2JNdU92RWdyMjdTTzdxL2xWClo5OS9SY0NqcW9Vd24ycE1heDRlTERuSXQ4bFpxTGtrZ0NWeXYwRUd0Q2xUelNHVWpid1B1TFF5aGMwZnk1cEQKYmc5Ryt0TzVFenRUOXpXazduU2hEQTQwODVrd1Nrc20xOGNGbTZBR3o0QllQOWl1WFJPbEZ3eVlhaURBc0tXUgpHTlpPQnV2cGRGZVpiSGh2dGphdi9uYjBiZlVaN1h5aWoyNWlTeU4xMExTQlZJU0J6VVlTZVM2NS9ub2Ixbjg5Cm0yblNhRkFoUUlIdWlIMFlhOW9RSXcrd0E1SXlxNkozTDNmYjVxcWZiNjVNbFJ5MS91S2RQVzQxLzREV3pRNHUKT1E4SmYzc0FHQ1pFbWt4bG9YNEYxU29mS01hdVBzYi9hdUZDT3dJREFRQUJBb0lCQUg4MWtHVlVSWmlVY2IwKwpkTkpkb2ZKVDJ6KzdvNGxnMXl0clJTUE8rZFhxcE9Nc1ZwK1A5T3lZaHZ1SW1WMmg1aXlzVWdObHQvWWczMFJGCjdGMGczaGpSVlBTemIyTkU3aUtDTklLMjlqMTJYNVRaWi9xZkl4NldsVXk2RThTcDRUSnB4Qyt6MEc1MlVmY20KVC9MRTJTYnVndzRKWW5Vb3VjWXM2TEpjUmt1eUpvUHlwTk1BNkcxSTVwSnVoVlJEaEMxQmM3ZU1zVG1mWFNSbQpSRk8zbzMzbmhSbGpMRzFPSkRsME1lTXhNTC9Ja3hZMWpIaDJyRzUxdGRKRGRCSVlnQWdKbXBDTzVwTEpyUk42Cnp0RWFyYUhpaEN6b0R0ZnhFSnNIWW5KZHpCVFpDYWtKRUVHbHg2ZmY0ZEpPVjEzUUZmbE56c200OEdnQjBpUDEKNTNrRm9xRUNnWUVBMkZhWDYxbUxXV2VaRmwzQktxa0RhbDFWbGFTYk1CRjBuSnJvb2lFOVNtWFA0eUgzR2Z3QgpJZlAxZk1SQWpHU1hQVXgyYitFd25EaDZOb0pQWXh0L0lpWm1EZHp3MDJFV3I5Y094ZEJiTEFyN3Q2OEYvejBNCk5GdTQ4ME5JeUVLSGpPdmRyWGhPM2NIM0kvOUZib0pPOEpmR08ybXBPUFdvaWptVTVkK1NORkVDZ1lFQTB1SWsKcTdLVG5VK0dTWFBSbmZKcERQQkRBM3R6WWs2TFY2aHhIZ0lpd3A0czZxVWJhMEFYdHYzN2Y5N0JPcHA4aEJhdgpoT3NYSkVPcW5sZ2UrVTBiZFFCam9JRTVjaEw4ZTY3RTlzRmhpK0sxZDF3cHB3VEprNnNJTC9ESmg1NWdvVjF4CjkzQWE1bW5jeVZJWElQeWpFbjc1YUp4SS83ZWpyTldySU9DaDVzc0NnWUFCQytJdVBEK2xUZy82Z0xlWGVqdk8KL3VhVUU3akFjY1Vyb01BeFVKSFlVMGUvSklIcWVVS1VKSGJ5aEl4L1lWa3Q3Ym5BN3NqcWFJZUd6ZmlPVlNxMwpRcEpKek9ESlZQWGtJZGtyY2NlUEhmcDd0L2dDZFF3akVMS0RVcmIrYVB2NDNZY3orSm9CRHBnZ2IzS3BoeTNVCmtoZGVZRE4yV0JIWm9VK3NFUG5IRVFLQmdRQ1ROY1F0aTJKYVhTbzcyanJJekhDaTFKR2pPNmxIUmRjbG9QTWQKNUpYSlQ4dkJIUEt3QXJUTFRDOGxpeVZPT0l1VlZaUys3N0ZlNGxHWGFhSnRtM01BVVA0N0RCcEMxSmdsNnRHYQpBMUtKNlArT1MrclRxWmJobTNJQ3JVNnhlbEN3TkdBYlA4bTNjTXpzU0g3V3l5VTNBeVl0N1hOVDl5aXR2UlpSCnhCMmcwd0tCZ0Yyak8wcm4zMkEyaDZndVJoZ2piNzhpSDFJRnNhRE5KR0R5K25jZ0tEcmprVXcraElQMDc3VzQKRm9wUWtMUXJWbUd6VloxVllwbGFES2sydXFpR2lsbndyOWJMeHZPUFpuanNaOFhwMmFYZGJoYmc5NzZUcjhGOApNWFJ3RDV0b3lZaGs1dTNxZzNPTDFzZGRMdFhNT1cxYXJWenpMbnBaWE55SCt0MjAwU0hECi0tLS0tRU5EIFJTQSBQUklWQVRFIEtFWS0tLS0tCg==
  server.crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN6RENDQWJTZ0F3SUJBZ0lVUDZ3Z3g5ejBJeDFUK0FrMnh0MjNHZTN1dmYwd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0Z6RVZNQk1HQTFVRUF3d01NVEF1TVRVeUxqRTRNeTR4TUI0WERUSTFNRE13TVRFM05EUTBNbG9YRFRNMQpNREl5TnpFM05EUTBNbG93S1RFT01Bd0dBMVVFQXd3RllXUnRhVzR4RnpBVkJnTlZCQW9NRG5ONWMzUmxiVHB0CllYTjBaWEp6TUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUFzallrRG5OVzQzT0IKZDdVeHBNL2NvSFU1dHRSRVRNb2JNdU92RWdyMjdTTzdxL2xWWjk5L1JjQ2pxb1V3bjJwTWF4NGVMRG5JdDhsWgpxTGtrZ0NWeXYwRUd0Q2xUelNHVWpid1B1TFF5aGMwZnk1cERiZzlHK3RPNUV6dFQ5eldrN25TaERBNDA4NWt3ClNrc20xOGNGbTZBR3o0QllQOWl1WFJPbEZ3eVlhaURBc0tXUkdOWk9CdXZwZEZlWmJIaHZ0amF2L25iMGJmVVoKN1h5aWoyNWlTeU4xMExTQlZJU0J6VVlTZVM2NS9ub2Ixbjg5bTJuU2FGQWhRSUh1aUgwWWE5b1FJdyt3QTVJeQpxNkozTDNmYjVxcWZiNjVNbFJ5MS91S2RQVzQxLzREV3pRNHVPUThKZjNzQUdDWkVta3hsb1g0RjFTb2ZLTWF1ClBzYi9hdUZDT3dJREFRQUJNQTBHQ1NxR1NJYjNEUUVCQ3dVQUE0SUJBUUM1bFdUejlod2RhOVZaL2V5aWFxNWQKTGVmZmZ2UHRxYWhMTUhicUxvcGphdDlRam1iL0FjZDdmWENUK2tFUElUQWxEY2lnRGVrU0pYZGZQKzFGdFJqdwpKQnltZDBoQktFRUR2Y21FbnBtVUYzMlE0Z0l4WjV3dzNQRDluY2xPNlB1VHU0RENBQXlnL1pTb0cxKzVSeWNIClE1Mk9DZ0hvem9UZXJjaCs1UUVSenZIcDhBQ3ZGT0M0MEVmUGRkR0JlbnFLRms3WDdBb3Y1bUlaZTRQK2RyNXUKWmV2TzdSajBjQytISVdtYzFiWko2cXJUTDRLZ1JKUVBmKzhvNGIxUGo5eklDaVpGbDRIVlZFZTdFdkZVd2M2Rgp6K3BFNnpSRWkxWFRyZGptcGhsYXJHOXd2d0xVUFdIcWFnMUUvNTBuTXp6cy84dnhORHR4MDhIOTVNdjd5N0FtCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
---
apiVersion: v1
kind: Service
metadata:
  name: argocd-server
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-server
    app.kubernetes.io/part-of: argocd
spec:
  type: NodePort
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8080
    nodePort: 30080
  selector:
    app.kubernetes.io/name: argocd-server
---
apiVersion: v1
kind: Service
metadata:
  name: argocd-redis
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-redis
    app.kubernetes.io/part-of: argocd
spec:
  ports:
  - name: tcp-redis
    port: 6379
    protocol: TCP
    targetPort: 6379
  selector:
    app.kubernetes.io/name: argocd-redis
---
apiVersion: v1
kind: Service
metadata:
  name: argocd-repo-server
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-repo-server
    app.kubernetes.io/part-of: argocd
spec:
  ports:
  - name: https-ctrl
    port: 8081
    protocol: TCP
    targetPort: 8081
  selector:
    app.kubernetes.io/name: argocd-repo-server
---
apiVersion: v1
kind: Service
metadata:
  name: argocd-application-controller
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-application-controller
    app.kubernetes.io/part-of: argocd
spec:
  ports:
  - name: https-ctrl
    port: 8082
    protocol: TCP
    targetPort: 8082
  selector:
    app.kubernetes.io/name: argocd-application-controller
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-server
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-server
    app.kubernetes.io/part-of: argocd
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: argocd-server
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: argocd-server
    spec:
      containers:
      - name: argocd-server
        image: quay.io/argoproj/argocd:v2.8.4
        imagePullPolicy: IfNotPresent
        command:
          - argocd-server
          - --staticassets
          - /shared/app
          - --rootpath
          - /argocd
          - --insecure
          - --cookie-samesite
          - none
          - --cookie-secure
          - false
        ports:
          - name: http
            containerPort: 8080
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
        env:
          - name: ARGOCD_API_SERVER_ENABLE_TLS
            value: "false"
          - name: ARGOCD_SERVER_ENABLE_GZIP
            value: "true"
          - name: ARGOCD_SERVER_ENABLE_PROXY
            value: "true"
          - name: ARGOCD_SERVER_STATIC_ASSETS
            value: /shared/app
          - name: ARGOCD_SERVER_DISABLE_AUTH
            value: "false"
          - name: ARGOCD_SERVER_BASEHREF
            value: /argocd
          - name: ARGOCD_SERVER_ROOTPATH
            value: /argocd
        volumeMounts:
          - name: static-files
            mountPath: /shared/app
      volumes:
        - name: static-files
          emptyDir: {}
        - name: argocd-secret
          secret:
            secretName: argocd-secret
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-server
  namespace: argocd
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`argocd.local`)
      kind: Rule
      services:
        - name: argocd-server
          port: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-redis
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-redis
    app.kubernetes.io/part-of: argocd
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: argocd-redis
  template:
    metadata:
      labels:
        app.kubernetes.io/name: argocd-redis
    spec:
      containers:
      - name: redis
        image: redis:7.2.3-alpine
        command:
        - redis-server
        - --requirepass
        - $(REDIS_PASSWORD)
        - --appendonly
        - "yes"
        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: argocd-redis
              key: redis-password
        ports:
        - name: tcp-redis
          containerPort: 6379
          protocol: TCP
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
        volumeMounts:
        - name: redis-data
          mountPath: /data
      volumes:
      - name: redis-data
        persistentVolumeClaim:
          claimName: argocd-redis-data
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-repo-server
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-repo-server
    app.kubernetes.io/part-of: argocd
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: argocd-repo-server
  template:
    metadata:
      labels:
        app.kubernetes.io/name: argocd-repo-server
    spec:
      containers:
      - name: argocd-repo-server
        image: quay.io/argoproj/argocd:v2.8.4
        imagePullPolicy: IfNotPresent
        command:
          - argocd-repo-server
          - --redis
          - argocd-redis:6379
          - --disable-tls
        ports:
          - name: http
            containerPort: 8081
            protocol: TCP
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
        env:
          - name: ARGOCD_REDIS_SERVER
            value: argocd-redis:6379
          - name: ARGOCD_REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: argocd-redis
                key: redis-password
        volumeMounts:
          - name: argocd-ssh-known-hosts-cm
            mountPath: /app/config/ssh
      volumes:
      - name: argocd-ssh-known-hosts-cm
        configMap:
          name: argocd-ssh-known-hosts-cm
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-application-controller
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-application-controller
    app.kubernetes.io/part-of: argocd
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: argocd-application-controller
  template:
    metadata:
      labels:
        app.kubernetes.io/name: argocd-application-controller
    spec:
      containers:
      - name: argocd-application-controller
        image: quay.io/argoproj/argocd:v2.8.4
        imagePullPolicy: IfNotPresent
        command:
          - argocd-application-controller
          - --redis
          - argocd-redis:6379
        ports:
          - name: https-ctrl
            containerPort: 8082
            protocol: TCP
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
        env:
          - name: ARGOCD_REDIS_SERVER
            value: argocd-redis:6379
          - name: ARGOCD_REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: argocd-redis
                key: redis-password
        volumeMounts:
          - name: argocd-ssh-known-hosts-cm
            mountPath: /app/config/ssh
      volumes:
      - name: argocd-ssh-known-hosts-cm
        configMap:
          name: argocd-ssh-known-hosts-cm
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: argocd-redis-data
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-redis
    app.kubernetes.io/part-of: argocd
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi 