apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - namespace.yaml
  - rbac.yaml
  - controllers.yaml
  - install.yaml

commonLabels:
  app.kubernetes.io/part-of: argocd 