apiVersion: v1
kind: Secret
metadata:
  name: redis-secret
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: argocd
type: Opaque
stringData:
  redis-password: "v5V3PLLf1CufunXMtrbR3H8ypTSpCnCj"
