apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: kube-system
data:
  traefik.yaml: |
    api:
      dashboard: true
      insecure: true
      debug: true
    entryPoints:
      web:
        address: "0.0.0.0:9080"
      traefik:
        address: "0.0.0.0:8080"
      postgres:
        address: "0.0.0.0:5432"
      redis:
        address: "0.0.0.0:6379"
    providers:
      kubernetesCRD:
        allowEmptyServices: true
        allowCrossNamespace: true
        allowExternalNameServices: true
        disableClusterScopeResources: false
        nativeLBByDefault: false
        throttleduration: 0
      kubernetesIngress:
        allowEmptyServices: true
        endpoint: ""
    log:
      level: DEBUG
      format: common
    accessLog:
      format: common
      fields:
        defaultMode: keep
        names:
          ClientUsername: drop
        headers:
          defaultMode: keep
          names:
            User-Agent: keep
            Authorization: drop
            Content-Type: keep
            Host: keep
            X-Forwarded-For: keep
            X-Real-IP: keep
            X-Forwarded-Proto: keep
            X-Forwarded-Host: keep
    metrics:
      prometheus: {} 