apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik
  namespace: kube-system
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: traefik
  template:
    metadata:
      labels:
        app.kubernetes.io/name: traefik
    spec:
      hostNetwork: true
      serviceAccountName: traefik
      containers:
        - name: traefik
          image: traefik:v3.3.4
          args:
            - "--configfile=/config/traefik.yaml"
          ports:
            - name: web
              containerPort: 9080
              protocol: TCP
            - name: traefik
              containerPort: 8080
              protocol: TCP
            - name: redis
              containerPort: 6379
              protocol: TCP
            - name: posgres
              containerPort: 5432
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: "/config"
              readOnly: true
          securityContext:
            capabilities:
              add:
                - NET_BIND_SERVICE
          resources:
            limits:
              cpu: 500m
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 128Mi
      volumes:
        - name: config
          configMap:
            name: traefik-config 