deployment:
  replicas: 1
  podAnnotations: {}
  podLabels: {}

image:
  tag: v3.3.6
  pullPolicy: IfNotPresent

service:
  enabled: true
  type: NodePort

ports:
  web:
    port: 9080
    expose:
      enabled: true
    exposedPort: 9080
    nodePort: 30080
    protocol: TCP
  traefik:
    port: 8080
    expose:
      enabled: true
    exposedPort: 8080
    nodePort: 31080
    protocol: TCP
  postgres:
    port: 5432
    expose:
      enabled: true
    exposedPort: 5432
    nodePort: 32080
    protocol: TCP
  redis:
    port: 6379
    expose:
      enabled: true
    exposedPort: 6379
    nodePort: 32081
    protocol: TCP
  websecure:
    port: 8443
    expose:
      enabled: false
    exposedPort: 8443
    protocol: TCP

additionalArguments:
  - "--api.dashboard=true"
  - "--api.insecure=true"
  - "--log.level=DEBUG"
  - "--entryPoints.web.address=:9080"
  - "--entryPoints.traefik.address=:8080"
  - "--entryPoints.postgres.address=:5432/tcp"
  - "--entryPoints.redis.address=:6379/tcp"

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi

providers:
  kubernetesCRD:
    enabled: true
    namespaces: []  # Watch all namespaces

ingressRoute:
  dashboard:
    enabled: true
    matchRule: PathPrefix(`/dashboard`) || PathPrefix(`/api`)
    entryPoints:
      - traefik
    middlewares:
      - name: traefik-dashboard-stripprefix
        namespace: kube-system

middlewares:
  dashboard-stripprefix:
    stripPrefix:
      prefixes:
        - /dashboard
        - /api 